.buyForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: monospace;
}

h2{
    color: white;
}

input{
    width: 40%;
    margin: 10px;
    height: 3rem;
    background-color: #eee1e1;
}

input:focus{
    outline: 1px solid goldenrod;
}

.label{
    color: #eee1e1;
    font-family: monospace;
    font-size: 1.3rem;
    margin-top: 1.5rem;
}

.subtitle{
    text-decoration: underline;
    margin: 2rem;
    color: #eee1e1;
}