.itemDetail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 50px;
    
}
.itemDetail img{
    width: 300px;
    height: 300px;
}
.itemDetail p{
    color: white;
    font-size: 2em;
    font-family: monospace;
}
.contador {
    color: white;
    margin-top: 50px;
    border: 0px solid #3c67e3;
    border-radius: 20px 100px;
    padding: 20px;
    background-color: #141313;
}
.contador:hover {
    animation: pulsate 2s;

}

@keyframes pulsate {
    0% {
        box-shadow: 0 0 25px #5ddcff,
            0 0 50px #4e00c2;
    }
}
button {
    color: white;
    border-radius: 10px;
    padding: 7px;
    margin: 10px;
    background-color: #100F0F;
    border: 1px solid #3c67e3;
}