.contenedor{
    text-align: center;
    padding: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link{
text-decoration: none;
font-family: monospace;
}

.boton{
    padding: 10px;
    font-family: monospace;
    background-color: #eee1e1;
    color: black;
    border: 1px solid #3c67e3;
}

.boton:hover {
    animation: pulsate 2s;

}

@keyframes pulsate {
    0% {
        box-shadow: 0 0 25px #5ddcff,
            0 0 50px #4e00c2;
    }
}