.contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.contador{    
    color: black;
    margin-top: 50px;
    border: 0px solid #3c67e3;
    border-radius: 20px 100px;
    padding: 10px;
    background-color: rgb(173, 163, 163);

}

button{
    border-radius: 10px;
    padding: 7px;
    margin: 10px;
}

.contador:hover{
    animation: pulsate 2s;
    
}

@keyframes pulsate{
    0%{
        box-shadow: 0 0 25px #5ddcff,
        0 0 50px #4e00c2;
    }
}