h1{
  font-family: monospace;
  color: rgb(255, 255, 255);
  text-decoration: underline;
}

img{
width: 200px;
height: 200px;
}

.logo{
  display: flex;
  justify-content: center;
  padding: 50px;
  
}

body{
  background-color: black;
}