h1{
  font-family: monospace;
  color: #eee1e1;
  text-decoration: underline;
  text-shadow: red -2px 0,
  cyan 2px 0;
}

img{
width: 200px;
height: 200px;
}

.logo{
  display: flex;
  justify-content: center;
  padding: 50px;
  
}

body{
  background-color: black;
}